global
    maxconn 65535
    #daemon

defaults
    mode    http
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    1d
    timeout queue           1m
    timeout connect         10s
    timeout client          10m
    timeout server          10m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 64000

frontend http-proxy
    bind *:80
    acl is_www hdr(host) -i app.thnk.xyz
    default_backend cluster_app

backend cluster_app{{range service "app"}}
    balance roundrobin
    server {{.ID | replaceAll ":" "_"}} {{.NodeAddress}}:{{.Port}}{{end}}
